.dashboard-nav {
  width: 100%;
  height: 46px;
  position: absolute;
  top: 0;
  background-color: rgb(45, 3, 79);
}

.logo-dashboard {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../Logos/logo-no-background-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 42px;
  margin-top: 0.4rem;
  margin-left: 0.8rem;
}
.backhome {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
  margin-right: 80px;
  font-size: 0.75rem;
  border: 2px solid white;
  padding: 4px 13px;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.backhome:hover {
  background-color: white;
  color: rgb(45, 3, 79);
}

.SelectRole {
  margin-top: 30px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dashboardbg.png");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.SelectRole-row1,
.SelectRole-row2,
.SelectRole-row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.SelectRole-QM,
.SelectRole-QT,
.SelectRole-QV,
.SelectRole-QC {
  width: 180px;
  height: 180px;
  margin: 0.4rem 0.4rem;
  border-radius: 40px;
  border: 2px solid rgb(210, 210, 210);
  color: rgb(210, 210, 210);
  padding: 20px;
  font-size: 1rem;
  background-color: rgb(45, 3, 79);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}
.SelectRole-browseQB {
  width: calc(360px + 0.4rem);
  height: 98px;
  font-size: 1rem;
  border-radius: 40px;
  border: 2px solid rgb(210, 210, 210);
  color: rgb(210, 210, 210);
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  background-color: rgb(45, 3, 79);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}
.SelectRole-p {
  font-size: 1.3rem;
  color: rgb(210, 210, 210);
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}
.SelectRole-QM:hover,
.SelectRole-QT:hover,
.SelectRole-QV:hover,
.SelectRole-QC:hover,
.SelectRole-browseQB:hover {
  background-color: white;
  color: rgb(45, 3, 79);
}
