:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}
.menu-container ul {
  list-style: none;
}

.menu-container a {
  text-decoration: none;
}

.usericoncircle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 0.8rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.usericon {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  transition: 0.3s;
}
.usericoncircle:hover {
  background-color: white;
}
.usericoncircle:hover .usericon {
  color: rgb(45, 3, 79);
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 0px 15px;
  width: 150px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.menu-container h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

.menu-container h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  font-size: 14px;
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
  color: rgb(135, 43, 210);
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 18px;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}
